---
const posts = await Astro.glob("./*.md");
import Layout from "../../layouts/Layout.astro";
import "../../styles/main.css";
---

<Layout page="blog">
  <main class="blog">
    <h1>Blog</h1>
    <ul class="posts">
      {
        posts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  .blog {
    max-width: 700px;
    margin: auto;
  }
  ul.posts li {
    list-style: none;
    border-left: 1px solid var(--nc-tx-2);
    padding: 0.25em 1em;
    margin-bottom: 0.8em;
  }
</style>
