---
const posts = await Astro.glob("./*.md");
import Layout from "../../layouts/Layout.astro";
import "../../styles/main.css";
---

<Layout page="blog">
  <main class="blog">
    <h1>Blog</h1>
    <ul class="posts">
      {
        posts.map((post) => (
          <li>
            <a href={post.url}>
              <h3>{post.frontmatter.title}</h3>
              <p>{post.frontmatter.description}</p>
              <p class="date">{post.frontmatter.pubDate.slice(0, 10)}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  .blog {
    max-width: 700px;
    margin: auto;
  }
  ul.posts li {
    list-style: none;
    border-left: 1px solid var(--nc-tx-2);
    padding: 0.25em 1em;
    margin-bottom: 0.8em;
  }
  ul.posts li a h3 {
    text-decoration: underline;
  }
  ul.posts li a {
    color: var(--nc-tx-2);
    text-decoration: none;
  }
  ul.posts li a .date {
    font-size: 80%;
    color: var(--nc-ac-tx);
  }
</style>
