@media screen and (min-width: 800px) {
    main.blogpost {
        width: 55vw;
        min-width: 400px;
        max-width: 625px;
        margin: auto;
    }
}

a.homelink {
    font-size: 0.85em;
}