body {
    max-width: 1200px;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 0;
}

header {
    padding-bottom: 1em;
    padding-left: max(2em, calc(40vw - 50%));
    padding-right: max(1em, calc(40vw - 50%));
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
}

.blue {
    color: var(--nc-lk-2);
}

@media (prefers-color-scheme: dark) {
    .blue {
        color: #7cb8ff;
    }
}

.link-card-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 1em 0;
    margin-bottom: 20vh;
}

@media screen and (min-width: 400px) {
    header {
        padding-bottom: 2em;
    }

    .link-card-grid {
        flex-direction: row;
        margin-bottom: 10vh;
    }
}