---
// FAQ
---

<div class="about">
  <p>
    Companies need to moderate their platforms, but they can't do it all and
    they don't always make the right calls.
  </p>
  <p>
    Bluesky has <a href="https://bsky.social/about/blog/4-13-2023-moderation"
      >composable moderation</a
    >, which allows anyone to run a labeler & provide an additional layer of
    moderation to anyone who subscribes.
  </p>
  <p>
    This is great! But those labelers still tend to be run by one or a few
    people at most, which <a
      href="https://docs.pmsky.social/getting-started/why-peer-moderation#:~:text=third%20party%20moderation%20also%20has%20its%20own%20drawbacks"
      >can cause issues</a
    >.
  </p>
  <p>
    The vision behind PMsky is one where labels can be determined by wide public
    consensus, not just individual opinions.
  </p>
  <p>
    The goal of this platform is to aggregate as many opinions as possible and
    make that information available to labelers. Those labelers can then
    incorporate this data into how they decide to moderate.
  </p>
  <p>Follow <a href="/bsky">@pmsky.social</a> for the latest updates.</p>
</div>
<style>
  p {
    margin-bottom: 1.5em;
  }

  @media screen and (min-width: 500px) {
    p {
      padding: 0 2em;
    }
  }

  @media screen and (min-width: 700px) {
    p {
      padding: 0 4em;
    }
  }
</style>
