---
import "../styles/footer.css";
---

<footer>
  <div class="col">
    <p><a href="/">Home</a></p>
    <p><a href="//bsky.app/profile/pmsky.social">@pmsky.social on Bsky</a></p>
  </div>
  <div class="col">
    <p><a href="/about">About</a></p>
    <p><a href="/blog">Blog</a></p>
    <p><a href="//docs.pmsky.social">Documentation</a></p>
  </div>
  <div class="col">
    <p><a href="//app.pmsky.social">App</a></p>
    <p><a href="//github.com/pmsky-social">GitHub</a></p>
  </div>
</footer>
