---
import "../styles/footer.css";
---

<footer>
  <div class="col">
    <p><a href="/">Home</a></p>
    <p><a href="//bsky.app/profile/pmsky.social">@pmsky.social on Bsky</a></p>
  </div>
  <div class="col">
    <p><a href="/about">About</a></p>
    <p><a href="/docs">Documentation</a></p>
  </div>
  <div class="col">
    <p><a href="/app">App</a></p>
    <p><a href="/blog">Blog</a></p>
    <p><a href="/github">GitHub</a></p>
  </div>
</footer>
