---
import Hero from "./Hero.astro";
---

<main class="homepage">
  <Hero />
  <h2>Mundus Sine Ceasaberus</h2>
  <!-- todo: add a few section about the building blocks getting pulled together -->
  <!-- e.g. composable moderation, atproto records, proposals/voting = peer moderation -->
  <!-- end result? -->
</main>
