<header>
  <a href="/" class="no-decoration">
    <h1>Welcome to <i><span class="blue">PM</span>sky</i></h1>
    <p>
      <i
        >enabling <b
          ><span class="blue">p</span>eer <span class="blue">m</span
          >oderation</b
        > on bsky
      </i>
    </p>
  </a>
</header>

<style>
  a.no-decoration {
    text-decoration: none;
    color: inherit;
  }
</style>
